.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin-bottom: 15px;
}

.form-errors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: red;
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 60px;
}

.form-container-input-title {
    width: 200px;
    padding: 5px;
    font-size: 16px;
}

.form-container-input-description {
    width: 350px;
    padding: 5px;
    font-size: 16px;
}

.form-container-select {
    width: 13%;
    padding: 6.2px;
}

.form-container-select-option {
    padding: 6.2px;
}

.form-container-button {
    width: 13%;
    padding: 6px;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
}
