ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    background-color: rgb(231, 230, 230);
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 2px solid #fff;
}

li h3 {
    font-size: 18px;
    font-weight: 500;
    width: 180px;
}

li p {
    font-size: 15px;
    width: 350px;
    padding-left: 20px;
}

li button {
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    width: 130px;
}

.normal {
    background-color: rgb(0, 20, 201);
}

.urgent {
    background-color: rgb(219, 21, 21);
}

li div .icons {
    font-size: 20px;
    padding: 0px 10px 0px 4px;
    cursor: pointer;
    width: 50px;
}

.trash {
    color: rgb(219, 21, 21);
}

.toggle {
    color: rgb(1, 133, 1);
}

.completed {
    background-color: rgb(204, 204, 204);
    opacity: 0.7;
}

.no-tasks {
    width: 96%;
    background-color: #111;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 8px 0px;
}

