.app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

.app-title {
  font-size: 70px;
  font-weight: 500;
  letter-spacing: 5px;
}
